<section fxLayoutAlign="center" class="train-card">
  <form (ngSubmit)="onStartTraining(form)" #form="ngForm">
    <mat-card fxFlex.xs="98%" fxFlex.gt-sm="800px">
        <mat-card-title>Time to start a workout</mat-card-title>
        <mat-card-subtitle>Excercising daily is very important to keep your body heatlhy.</mat-card-subtitle>
        <h3>Please select excercise type:</h3>
        <mat-form-field appearance="fill">
          <mat-label>Excercise Type</mat-label>
          <mat-select ngModel name="excercise" required>
            <mat-option *ngFor="let excercise of excercises" [value]="excercise.id">{{ excercise.name }}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <button mat-raised-button color="primary" [disabled]="form.invalid">START</button>
        <button mat-raised-button disabled color="accent">PLAN</button>
    </mat-card>
  </form>
</section>
