<mat-nav-list>
  <a mat-list-item class="toolbar-nav-link" routerLink="/training" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-link-caption">Training</span>
  </a>
  <a mat-list-item class="toolbar-nav-link" routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-link-caption">Signup</span>
  </a>
  <a mat-list-item class="toolbar-nav-link" routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-link-caption">Login</span>
  </a>
  <a mat-list-item class="toolbar-nav-link" routerLink="/login" (click)="onLogout()" *ngIf="isAuth">
    <mat-icon>eject</mat-icon>
    <span class="nav-link-caption">Logout</span>
  </a>
</mat-nav-list>
