.toolbar-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container, mat-sidenav-content {
  height: 100vh;
}

mat-sidenav {
  width: 80vw;
}

mat-nav-list a{
  color: darkslateblue
}

mat-nav-list a:hover{
  color: darkslateblue;
}

a.toolbar-nav-link {
  color: whitesmoke;
  text-decoration: none;
}

a.toolbar-nav-link:hover, a.toolbar-nav-link:active {
  color: whitesmoke;
  text-decoration: none;
}

ul.toolbar-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link-caption {
  display: inline-block;
  margin-left: 6px;
}
